{% extends "base.html" %}

{% block title %}Добавить товар{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Добавить товар</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-4">
            {{ form.as_p }}
        </div>

        <div class="mb-3">
            <label class="form-label">Изображение</label>
            <input type="file" name="image" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>
{% endblock %}